#background {
	overflow: hidden;
}

body, button {
	font-family: Century Gothic, sans-serif;
}

#foreground {
	display: table;
	left: 0px;
	position: absolute;
	top: 0px;
	z-index: 2;
}

#foreground form {
	display: table-cell;
	vertical-align: middle;
}

#foreground form fieldset {
	line-height: 2em;
	margin: auto;
	width: 20em;
}

#foreground form fieldset div {
	text-align: center;
}

#foreground form fieldset span {
	display: inline-block;
	text-align: left;
	width: 5em;
}

#foreground form fieldset, #foreground form legend {
	background-color: hsla(0, 0%, 100%, 0.75);
	border: 1px solid #EEEEEE;
}

#foreground form legend {
	padding: 0em 0.5em;
	margin: auto;
	font-size: larger;
}

#background, body, #foreground, html {
	height: 100%;
    margin: 0px;
    padding: 0px;
	width: 100%;
}

.tile {
    background-color: white;
    display: inline-block;
    float: left;
    margin: 10px 0px 0px 10px;
}